<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Airships</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:insert="~{parts/bootstrap :: bootstrap}"></div>
</head>
<body>
<div th:insert="~{parts/navbar :: navbar}"></div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="center-block text-center">Airships</h1>
    <form method="post" action="/airships">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="inputModelAirship">Model</label>
                <input name="model" type="text" class="form-control" id="inputModelAirship" required>
            </div>
        </div>
        <label for="countSeatsContainer">Count seats</label>
        <div class="form-row" id="countSeatsContainer">
            <div class="col-md-3 mb-3">
                <input name="economy" type="number" class="form-control" placeholder="Economy" required>
            </div>
            <div class="col-md-3 mb-3">
                <input name="business" type="number" class="form-control" placeholder="Business" required>
            </div>
            <div class="col-md-3 mb-3">
                <input name="premium" type="number" class="form-control" placeholder="Premium" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <table class="table table-striped table-bordered table-hover mt-4">
        <thead>
        <tr>
            <th scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2">Model</th>
            <th scope="col" colspan="3">Count seats</th>
        </tr>
        <tr>
            <th>Economy</th>
            <th>Business</th>
            <th>Premium</th>
        </tr>
        </thead>
        <tr th:each="airship, iter : ${airships}">
            <td th:text="${iter.count}"></td>
            <td th:text="${airship.model}"></td>
            <td th:text="${airship.economyCategory}"></td>
            <td th:text="${airship.businessCategory}"></td>
            <td th:text="${airship.premiumCategory}"></td>
        </tr>
    </table>
</div>
</body>
</html>