<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Clients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:insert="~{parts/bootstrap :: bootstrap}"></div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:insert="~{parts/navbar :: navbar}"></div>
<div class="cover-container p-3">
    <h1 class="center-block text-center">Clients</h1>
    <form method="post" action="/clients">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="firstName">First name</label>
                <input id="firstName" name="firstName" type="text" class="form-control" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="middleName">Middle name</label>
                <input id="middleName" name="middleName" type="text" class="form-control" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="lastName">Last name</label>
                <input id="lastName" name="lastName" type="text" class="form-control" required>
            </div>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <table class="table table-responsive table-striped table-bordered table-hover mt-4"
           th:if="${not #lists.isEmpty(clients)}">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 22.5%">First name</th>
            <th style="width: 22.5%">Middle name</th>
            <th style="width: 22.5%">Last name</th>
            <th style="width: 22.5%">Bill</th>
            <th style="width: 5%">Actions</th>
        </tr>
        </thead>
        <tr th:each="client, iter : ${clients}">
            <td th:text="${iter.count}"></td>
            <td th:text="${client.firstName}"></td>
            <td th:text="${client.middleName}"></td>
            <td th:text="${client.lastName}"></td>
            <td th:text="${client.bill}"></td>
            <td class="col d-flex">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-warning" title="Tickets" th:data-id="${client.id}"
                            th:onclick="getTicketsByClient(this.getAttribute('data-id'))" data-toggle="modal"
                            data-target="#modalTicketsOfClient"
                            th:attr="data-action=@{/clients/{id}/purchase(id=${client.id})}">
                        <svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-archive" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M2 5v7.5c0 .864.642 1.5 1.357 1.5h9.286c.715 0 1.357-.636 1.357-1.5V5h1v7.5c0 1.345-1.021 2.5-2.357 2.5H3.357C2.021 15 1 13.845 1 12.5V5h1z"/>
                            <path fill-rule="evenodd"
                                  d="M5.5 7.5A.5.5 0 0 1 6 7h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5zM15 2H1v2h14V2zM1 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H1z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-primary" title="Edit" th:data-id="${client.id}"
                            th:onclick="getById(this.getAttribute('data-id'))">
                        <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd"
                                  d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-danger delBtn" data-toggle="modal"
                            data-target="#modalDelWindow"
                            th:attr="data-action=@{clients/delete/(id=${client.id})}">
                        <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal fade" id="modalEditWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/clients/update">
                <div class="modal-body">
                    <input id="id-edit" name="id" type="hidden" required>
                    <div class="form-group">
                        <label for="firstName-edit">First name</label>
                        <input id="firstName-edit" name="firstName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="middleName-edit">Middle name</label>
                        <input id="middleName-edit" name="middleName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName-edit">Last name</label>
                        <input id="lastName-edit" name="lastName" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{parts/modal :: confirmDel}"></div>
<div th:insert="~{parts/ticketsOfClient :: tickets}"></div>
</body>
</html>