<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Flights</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:insert="~{parts/bootstrap :: bootstrap}"></div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:insert="~{parts/navbar :: navbar}"></div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="center-block text-center">Flights</h1>
    <form method="post" action="/flights">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="inputFlightDateDeparture">Date departure</label>
                <input name="dateDeparture" type="datetime-local" class="form-control" id="inputFlightDateDeparture"
                       required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="inputFlightDateArrival">Date arrival</label>
                <input name="dateArrival" type="datetime-local" class="form-control" id="inputFlightDateArrival"
                       required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="inputRoute">Route</label>
                <select name="routeId" class="custom-select" id="inputRoute" required>
                    <option disabled selected value="">Choose...</option>
                    <option th:each="route : ${routes}"
                            th:value="${route.id}"
                            th:utext="${route.toString()}"/>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="inputAirship">Airship</label>
                <select name="airshipId" class="custom-select" id="inputAirship" required>
                    <option selected disabled value="">Choose...</option>
                    <option th:each="airship : ${airships}"
                            th:value="${airship.id}"
                            th:utext="${airship.model}"/>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <table class="table table-striped table-bordered table-hover mt-4" th:if="${not #lists.isEmpty(flights)}">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 25%">Date departure</th>
            <th style="width: 25%">Date arrival</th>
            <th style="width: 20%">Route</th>
            <th style="width: 20%">Airship</th>
            <th style="width: 5%">Actions</th>
        </tr>
        </thead>
        <tr th:each="flight, iter : ${flights}">
            <td th:text="${iter.count}"></td>
            <td th:text="${#temporals.format(flight.dateOfDeparture, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(flight.dateOfArrival, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${flight.route}"></td>
            <td th:text="${flight.airship.model}"></td>
            <td class="col d-flex">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" title="Edit" th:data-id="${flight.id}"
                            th:onclick="getById(this.getAttribute('data-id'))">
                        <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd"
                                  d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-danger delBtn" data-toggle="modal"
                            data-target="#modalDelWindow"
                            th:attr="data-action=@{flights/delete/(id=${flight.id})}">
                        <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal fade" id="modalEditWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/flights/update">
                <div class="modal-body">
                    <input id="id-edit" name="id" type="hidden" required>
                    <div class="form-group">
                        <label for="dateOfDeparture-edit">Date of departure</label>
                        <input id="dateOfDeparture-edit" name="dateOfDeparture" type="datetime-local"
                               class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="dateOfArrival-edit">Date of arrival</label>
                        <input id="dateOfArrival-edit" name="dateOfArrival" type="datetime-local" class="form-control"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="route-edit">Route</label>
                        <select id="route-edit" name="routeId" class="custom-select" required>
                            <option th:each="route : ${routes}"
                                    th:value="${route.id}"
                                    th:utext="${route.toString()}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="airship-edit">Airship</label>
                        <select id="airship-edit" name="airshipId" class="custom-select" required>
                            <option th:each="airship : ${airships}"
                                    th:value="${airship.id}"
                                    th:utext="${airship.model}"/>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{parts/modal :: confirmDel}"></div>
</body>
</html>